.container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-top: 3rem;
  padding-inline: 15rem;
}

.product_container {
  display: flex;
  gap: 1rem;
}

.product_image {
  width: 50%;
  display: flex;
  align-items: flex-start;
  gap: 0.5rem;
}

.product_image_list {
  width: 80px;
  display: flex;
  flex-direction: column;
  overflow: auto;
  gap: 0.5rem;
}

.product_image_list_item {
  width: 100%;
  aspect-ratio: 1 / 1;
  overflow: hidden;
  cursor: pointer;
  background-color: #f9f8f7;
}

.product_image_list_item img {
  width: 100%;
  height: 100%;
  -webkit-user-drag: none;
  object-fit: contain;
}

.product_image_main {
  width: min(100%, 450px);
  aspect-ratio: 3 / 4;
  background-color: #f9f8f7;
}

.product_image_main img {
  width: 100%;
  height: 100%;
  -webkit-user-drag: none;
  object-fit: contain;
}

.product_information {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.name {
  font-size: 1.2rem;
  font-weight: 500;
}

.description {
  font-size: 0.9rem;
  margin-top: 0.5rem;
}

.price {
  font-size: 0.9rem;
  margin-top: 1rem;
  font-weight: 800;
}

.selectvariants {
  margin-top: 3rem;
  height: 2.5rem;
}

.addtobag {
  height: 2.5rem;
  margin-top: 0.5rem;
  outline: none;
  border: none;
  background-color: black;
  color: white;
  font-size: 0.9rem;
  font-weight: 500;
  cursor: pointer;
}

.deliveryinfo {
  margin-top: 1.5rem;
  font-size: 0.9rem;
}

.extraifo {
  margin-top: 1.5rem;
  font-size: 0.9rem;
  height: 3rem;
  display: flex;
  align-items: center;
  padding-inline: 0.7rem;
  background-color: #f4f5f5;
}

.product_detail_container {
  font-size: 0.9rem;
}

.product_detail {
  margin-top: 2rem;
  display: flex;
}

.product_detail_title {
  margin-top: 1rem;
  font-weight: 600;
}

.product_detail_list {
  margin-top: 1rem;
}

.product_detail_item {
  margin-top: 0.5rem;
}

.product_detail_left {
  width: 50%;
}

.product_detail_right {
  width: 50%;
}

@media (max-width: 1024px) {
  .container {
    margin-top: 1.5rem;
    padding-inline: 5rem;
    gap: 1.5rem;
  }

  .product_image {
    width: 50%;
    flex-direction: column;
    gap: 0.75rem;
  }

  .product_image_main {
    width: 100%;
    aspect-ratio: 3 / 4;
  }

  .product_image_list {
    width: 100%;
    flex-direction: row;
    gap: 0.5rem;
  }
}

@media (max-width: 768px) {
  .container {
    margin-top: 1.5rem;
    padding-inline: 5rem;
    gap: 1.5rem;
  }

  .product_container {
    flex-direction: column;
    gap: 1.5rem;
  }

  .product_image {
    width: 100%;
    flex-direction: column;
    gap: 0.75rem;
  }

  .product_image_list_item {
    width: 70px;
    aspect-ratio: 1 / 1;
    flex-shrink: 0;
  }

  .product_information {
    width: 100%;
  }
}

@media (max-width: 425px) {
  .container {
    margin-top: 1.5rem;
    padding-inline: 1rem;
    gap: 1.5rem;
  }
}
